body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

header {
    background-color: #0adf9f;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.nav-menu {
    display: flex;
}

.nav-menu a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.hero {
    background: #0073e6;
    height: 59vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.features p {
    font-size: 1.2em;
    font-weight: bold;
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: rgb(112, 185, 228);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
}

input, textarea, button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    #card_last {
        margin-bottom: 100px;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #444;
    }

    .nav-menu a {
        padding: 15px;
        display: block;
    }

    .nav-menu.active {
        display: flex;
    }
}

/* ------------------------- */

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

  .card1 {
    background: rgb(112, 185, 228);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}